@font-face {
  font-family: apollo;
  src: url(../fonts/apollo.otf);
  font-weight: normal;
}

body {
  font-family: apollo, "Poppins", sans-serif;
}
.wrapper {
  margin: 20px auto;
  display: block;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 1px #b3b3b3;
  border: 1px solid #ddd2d2;
  padding: 15px;
  padding-bottom: 30px;
  border-radius: 5px;
  max-width: 700px;
  background: #ffd89d;
}
.btn {
  color: black;
  height: 50px;
}
.btn:hover {
  color: #767676;
}
.form-control {
  border-radius: 15px;
  box-shadow: 0 10px 6px -7px #777;
  font-family: Poppins;
  font-size: 14px;
}
h1 {
  font-size: 38px;
  padding-top: 10px;
  text-align: center;
  /*padding-left: 220px;*/
}
h5 {
  padding-top: 10px;
  padding-right: 20px;
}

h2 {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  font-size: 20px;
  color: #767676;
}
.row {
  padding-top: 30px;
}
.sun-temperature {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.temperature {
  font-size: 60px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.weather-details {
  font-size: 18px;
}
.weather-details:first-letter {
  text-transform: capitalize;
}
.sunrise-row {
  margin: 0px;
  padding-top: 100px;
  padding-bottom: 40px;
  font-size: 16px;
  max-width: 100%;
}
.sunrise-set {
  width: 10%;
  margin-right: 15px;
}
.week {
  font-size: 17px;
}
hr {
  height: 1px;
  background-color: rgb(128, 128, 128);
  border-radius: 30px;
  margin-bottom: 0px;
}
.week-forecast {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 17px;
  padding-top: 20px;
}
.images-forecast {
  width: 55%;
  margin-bottom: 0px;
}

.text-left-temp {
  padding-left: 0px;
  font-size: 15px;
  margin-top: 0px;
}
.text-right-temp {
  font-size: 15px;
  padding-right: 0px;
}
.code-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-height: 22px;
  margin-top: 90px;
}
p {
  text-align: center;
  color: black;
  display: block;
  padding: 10px 50px 10px 50px;
  font-size: 15px;
  font-family: "Quicksand", monospace;
  font-weight: 400;
}
.grey-underline {
  color: black;
}
.grey-underline:hover {
  color: #767676;
  transition: all 200ms ease;
  text-decoration: underline;
  cursor: pointer;
}
.open-source {
  color: #2561f8;
}
.open-source:hover {
  color: #7299ff;
  text-decoration: none;
}
.week-temp-icons {
  padding-top: 0px;
  text-align: center;
}

.weather-forecast-date {
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
}
.icons {
  margin-top: 15px;
  text-align: center;
}
#day-name {
  padding-top: 15px;
  text-align: center;
}
.weather-forecast-temperature {
  padding-top: 16px;
  text-align: center;
}
.arrows {
  padding-top: 1px;
  text-align: center;
}
.weather-forecast-temperature-min {
  text-align: left;
}

.weather-forecast-temperature-max {
  text-align: right;
}

.polygon-icon {
  text-align: center;
}
.forecast {
  display: block;
  border-radius: 10px;
  box-shadow: 1px 3px 7px rgba(161, 161, 161, 0.637);
  margin: 1px 3px;
  max-width: 105px;
}
.forecast:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
}
